h1{
    text-align: center;
    color: black;
    font-size: 80px;
    margin-top: 50px;
    border-bottom-color: black;  
}

#yourguess{
    text-align: center;
    font-size: 35px;
}

#number{
    color:black;
    text-align: center;
    font-size: 50px;
    margin-top: 170px;
    
}

.container { 
    height: 400px;
    position: relative;
   
    
}

.border-bottom{
    border-bottom: 10px;
   border-color: black;
    
}
  
.center {
    margin-top: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body{
   
}

.btn-choice{
    
    background-color: black;
    animation: 100px;
}
 

